Repository dynawo/dynaflow-launcher, pull requests merged in 2022-06, with the labels that each got.

#406 #403 fix iidm extension env var when private iidm lib is available
  scripts/dynaflow-launcher.sh
Labels: bug

#408 407 add timestep choice in config
  documentation/configuringDynaflowLauncher/DynaflowLaunchersInputFiles.tex
  documentation/functionalDoc/functionalDoc.tex
  documentation/resources/syntaxExample/config.json
  documentation/resources/syntaxExample/solver.par
  sources/Context.cpp
  sources/Inputs/include/Configuration.h
  sources/Inputs/src/Configuration.cpp
  sources/Outputs/CMakeLists.txt
  sources/Outputs/include/Constants.h
  sources/Outputs/include/Solver.h
  sources/Outputs/src/Solver.cpp
  tests/inputs/TestConfig.cpp
  tests/inputs/res/config.json
  tests/outputs/CMakeLists.txt
  tests/outputs/TestSolverPar.cpp
  tests/outputs/reference/TestSolverPar/solver.par
  tests/outputs/reference/TestSolverParDefault/solver.par
  tests/outputs/res/config_solver.json
  tests/outputs/res/config_solver_default.json
Labels: documentation, enhancement, Inputs, Outputs

#415 #414 Fix unittests launch from IDE.
  .gitignore
  cmake/CTestScript.cmake
  scripts/envDFL.sh
  sonar-project.properties
  tests/CMakeLists.txt
  tests/algo/CMakeLists.txt
  tests/inputs/CMakeLists.txt
  tests/main/CMakeLists.txt
  tests/main_sa/CMakeLists.txt
  tests/outputs/CMakeLists.txt
Labels: tests/nrts

#399 #396 Ouput slack node in separate file.
  sources/CMakeLists.txt
  sources/Context.cpp
  sources/Context.h
  sources/main.cpp
Labels: Outputs, Need an update of powsybl integration
